body{
    background-color: #037ac9 ;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;

}
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');


/* Accordion custome style */
.card {position: relative; display: -ms-flexbox;display: flex; -ms-flex-direction: column; flex-direction: column; min-width: 0; word-wrap: break-word; /*background-color:#fffdf2;*/ background-clip: border-box; border: 0px; margin-bottom: 5px; border-radius: 0px;}
.card-body{ background-color: #fff;}
.card-body .btn-link{ display: block; margin-top: 20px; padding: 0;}
.card-header:first-child { border-radius:10px;}
.accordion > .card:first-of-type {border-bottom: 0; border-radius: 5px;}
.accordion > .card:not(:first-of-type) .card-header:first-child { border-radius: 10px;}
.accordion > .card:not(:first-of-type):not(:last-of-type) { border-bottom: 0;border-radius: 10px !important;}
.accordion > .card:last-of-type { border-radius: 10px !important;}
.accordion > .card .card-header { padding: 0px; margin-bottom: 0px; background-color:#A52B46; border: 0px !important;
    border-radius: 5px !important; /*transition: all .3s ease-in-out;*/ text-transform: uppercase;}
.accordion > .card .card-header:hover {background-color:#f23750;}
.accordion > .card .card-header:hover h2 button{color: #ffffff;}
.card-header h2{ padding-bottom: 0px;transition: all .3s ease-in-out;}
.card-header h2::before{ content: ''; position: absolute; left:0px; top:0px;}
.card-header h2 button{ color: #fff; text-transform: initial; letter-spacing: initial; font-weight: 500; font-size: 16px; width: 100%; text-align: left; margin-top: 0; text-transform: uppercase;}
.vertical-cntr{display: flex; align-items: center; justify-content: center;}
.col-icon-bg-cntr { width: 100%; background-color: #e1e2f2; padding: 10px 10px; border-radius: 10px; position: relative; transition: all .4s ease-in-out;}
.col-text-cntr h6{font-size: 16px;margin-bottom: 10px;font-weight: 600}
.col-text-cntr h5{font-size: 14px !important;padding-bottom: 5px !important}
.fa-users{color: #a52b46}
.col-text-cntr p{ opacity: 0; display: block; position: absolute; left: 0; right: 0; top: 60px; transition: all .4s ease-in-out;}
.col-icon-bg-cntr:hover .col-text-cntr p{ opacity: 1; display: inline-block; top: 30px;}
.col-text-cntr { text-align: center; position: relative; transition: all .4s ease-in-out;}
.col-icon-bg-cntr:hover .icon-cntr span::before{ font-size: 42px;}
.col-icon-bg-cntr h6{ transition: all .4s ease-in-out;}
.icon-cntr { text-align: center; margin: 0 auto; transition: all .4s ease-in-out;}
.icon-cntr span::before{font-size: 70px; font-weight: 500; line-height: normal; display: inline; margin: 0; background: -webkit-linear-gradient(#ffac37, #e22c65); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all .4s ease-in-out;}
.col-icon-bg-cntr .icon-cntr{padding-bottom: 0px;}
.img-container{padding: 0px 0px 0px 0px;}
.img-container img{max-width: 100%;height: auto;position: relative;}
.container-text{ max-width: 100%;}

.title-center{
    text-align: center;
    padding-bottom: 20px;
}
.title-center h2{
    padding-bottom: 20px;
}

.ml-15{ margin-left: 15px;}

.mt-20{ margin-top: 20px;}
.mt-30{ margin-top: 30px;}
.mt-60{ margin-top: 60px;}
.mt-90{ margin-top: 90px;}
.mb-30{ margin-bottom: 30px;}
.mb-60{ margin-bottom: 60px;}
.mb-90{ margin-bottom: 90px;}

.bg-color{
    background-color: #037ac9;
}

.bg-img-left{
    background: url(../images/bg_shape_1.svg) no-repeat 200% -90px;
    background-size: contain;
}

.bg-img-left-2{
    background: url(../images/bg_shape_3.svg) no-repeat bottom left;
    background-size: contain;
}
.bg-img-right{
    background: url(../images/bg_shape_2.svg) no-repeat -5% -445px;
    background-size: 55%;
}


/* ====== 1.2 - NAV BAR STARTS ====== */
.navbar-brand{font-size: 1.5rem; font-weight: 700; letter-spacing: 5px;}
.navbar-brand img{ width: 140px; max-height:auto; padding: 0px 0px;}
.bg-dark {width: 100%; background-color: transparent; padding: 0px 30px; border-radius: 3px;transition: all .5s ease-in-out;display: flex;position: relative;}
.navbar-light .navbar-nav .nav-link {font-size: 18px; color: #222222; transition: all .3s ease-in-out; padding: 20px 15px;}
.navbar-light .navbar-nav .nav-link:hover {color: #f23750 !important;}
.navbar-light .navbar-nav .active .nav-link { color: #f23750 !important;}
.bg-dark.scrolled{ padding-top: 0px; padding-bottom: 0px; box-shadow: 0px 5px 30px rgba(0, 0, 0, .2);background-color: #ffffff !important;}
.bg-dark.scrolled .nav-link{ color: #111111; font-size: 15px;}

/* ====== NAV BAR DROPDOWN ====== */
.navbar-expand-lg .navbar-nav .dropdown-menu {margin-top: 0px;background: #fffdf2; border: none; border-radius: 0px 0px 10px 10px; overflow: hidden;padding: 0px;transition: all .1s ease-in-out;border-top: 3px solid #f23750;}
.navbar-expand-lg .navbar-nav .dropdown-menu.dropdownscrolled { margin-top: 0px;}
.dropdown-menu .dropdown-item{ display: block; width: 100%; padding: 15px 10px; clear: both; font-weight: 400; color: #666666; text-align: left; white-space: nowrap; background-color: transparent; box-shadow: none;}
.dropdown-menu .dropdown-item:hover{ color: #ffffff; white-space: nowrap; background-color: #f23750;}
.dropdown-menu .dropdown-item::before{ content: '-'; font-weight: bold; color: #ffffff; padding-right: 5px; margin-left: -5px; opacity: 0; transition: all .2s ease-in-out;}
.dropdown-menu .dropdown-item:hover::before{ content: '-'; font-weight: bold; color: #ffffff; padding-right: 10px; margin-left: 3px; opacity: 1;}
.dropdown-menu a{ font-size: 15px;}

/* ====== 1.3 - CAROUSEL STARTS ====== */
.hero-image{ background:url(../images/home_hero_bg_2.svg) no-repeat top center; min-height: 100vh; background-size: cover; padding-top: 100px;}
.hero-text h5{ color: #333333;}
.hero-text{ text-align: center; padding: 20px 0px 40px 0px;}
.hero-text h1{ font-weight: 400; padding: 0;}
.heroimage2{ background:url(../images/upda.png) no-repeat top center; min-height: 100vh; padding-top: 150px;}

/* ====== 1.4 - FOOTER STARTS ====== */
footer{ background: #87CEEB no-repeat top center;background-size: cover; padding: 10px 0px 10px 0px;}
footer p{ padding: 0;color: #fff;letter-spacing: .5px;font-size: 15px;}
.adres{color: #ffffff;padding-bottom: 10px;}
footer li, footer a{ color: #fff; font-size: 15px; padding: 5px 0; letter-spacing: .5px; transition: all .2s ease-in-out;}
footer a:hover{text-decoration: none !important; color: #a52b46; padding-left: 0px;}
footer h4, footer h5{color: #552d36;line-height: 1.7rem;}
footer .copyright{margin-top: 60px;border-top: 1px solid #4e3333;padding: 20px 0px;}
footer .copyright p{color: #666666;}
.copyright-links ul{float: left;}
.copyright-links ul li{ display: inline; padding-right: 20px;}
.copyright-links ul li a{ color: #681d1d;transition: all .1s ease-in-out; padding: 0;}
.copyright-links ul li a:hover{ color: #cccccc; padding: 0;}
.copyright-social ul{float: right;}
.copyright-social ul li{width: 35px;display: inline-block;padding: 0px 0px 0px 10px;}
.copyright-social ul li a{padding: 0;opacity: .4;transition: all .3s ease-in-out;}
.copyright-social ul li a:hover{ opacity: 1;}
.insure-text{background-color: #2b60a5;border-radius: 5px;padding: 5px 5px 5px 30px;margin-bottom: 5px;}
.insure-text h4, .insure-text h6, .insure-text p{color: #ffffff;}

.point-list{ padding: 0px 20px 0px 0px;}
.point-list .list-icon{float: left;}
.list-icon span::before{font-size: 48px;font-weight: 500;line-height: normal; display: inline; margin: 0; background: -webkit-linear-gradient(#ffac37, #e22c65);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.point-list .list-text{ margin-left: 100px;}

.point-list .list-text h6{color: #333333;font-weight: 600; margin-bottom: 10px !important}
.point-list ul li{ margin-bottom: 15px; border-bottom: 1px solid #d7d2c4;display: inline-block;padding: 15px 0px;}
.point-list .list-icon img{width: 95px}
.point-list ul li:nth-last-child(1){padding-bottom: 0px; margin-bottom: 0px; border-bottom: none;}
div .col-icon-bg-cntr{ margin-bottom: 30px;}
div .col-icon-bg-cntr:not(.no-margin) {margin-bottom: 10px;}

/* feedback section */
.feedback {position: relative;}
.feedback p{ position: relative;top: 10px;}
.feedback span, .feedback h2 { position: relative;z-index: 100;}
.feedback > img{ position: absolute; top: -25%;}

.client img{ opacity: 1; transition: all .3s ease-in-out;}
.client img:hover{ opacity: .9; transform: scale(1.05);}

.hero-small-about { background: url(../images/small_hero_bg-01.svg) no-repeat bottom center; background-size: 100%;}


/* ====== 3 - CAR PAGE STARTS ====== */
.hero-image-small { width: 100%;height: 350px; overflow: hidden; -webkit-box-sizing: border-box;box-sizing: border-box; padding: 0px 0px; position: relative;display: flex;justify-content: center;align-items: center;}
.hero-text-inner {width: 100%; padding: 0px; margin-top: 0px;}
.hero-text-inner h3{ font-weight: 600; padding: 0;}
.hero-text-inner .sub-heading-1{ font-size: 20px;}
.hero-small-car { background: url(../images/small_hero_bg-01.svg) no-repeat bottom center; background-size: 100%;}

.hero-small-car1 { background: url(../images/upda.png) no-repeat bottom center; background-size: 100%;}
.hero-small-car1 {padding-top: 120px;padding-bottom: 50px}
/*.hero-image-small1.hero-small-car1
{
    height: 500px;
   
}*/
.section .col-md-6{padding: 0px 10px;}
/* Insurance section */
.new-veh-img { height: auto; float: left; display: block; margin-right: 5px; border-radius: 10px; overflow: hidden;}
.new-veh-img .img-fluid {max-width: 100%; height: auto; height: 75px;border-radius: 6px;}
.new-veh-text{ display: inline-block;}
.new-veh-text h3{font-size: 24px;padding-bottom: 10px;color: #fff;}

.form-group { margin-bottom: 1rem;}
label { font-size: 15px; display: inline-block; margin-bottom: 0rem;}
.form-control::placeholder { color: #999999; opacity: 1; font-size: 14px;}
.form-group textarea.msg-area{ border-radius: 10px;}
.form-group { margin-bottom: 0px;}
.form-control { display: block; width: 100%; height: auto; padding: 10px 15px; font-size: 1rem; font-weight: 400; line-height: 1.5;color: #111111; background-color: #f4f7fb; background-clip: padding-box; border: 1px solid #bfbdb0; border-radius:4px; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
.input-group .form-control { border-radius: 50px !important;}
.input-group-append { margin: 0px; position: absolute; right: 0; top: 5px; z-index: 100;}
.mr-auto, .mx-auto { margin: auto !important;}

.theme-btn{background-color: #332ba5;padding: 8px 10px; color: #fff;border-radius: 6px;}
.hero-text h1{font-size: 30px !important;color: #000;}
.col-text-cntr h5{font-size: 18px; padding-bottom: 20px;}
.fleets i{font-size: 15px;margin-bottom: 0px;color: #a52b46;}
.fleets .theme-btn{padding: 6px auto !important; background-color: #A52B46 !important; }
.facilities i{font-size: 50px !important;margin-bottom: 0px;color: #a52b46;}
.section-larger{padding:30px 0px}
.section-larger h5{font-size: 16px;}
a.theme-btn:hover{color: #fff;}
.footer-area { position: relative; z-index: 1;padding: 30px 0px}
.p-3{padding: 10px 10px;}
.padding-top-40px {padding-top: 40px;}
.section-bg { background-color: #F4F2ED;}
.footer-area::before { position: absolute; content: ''; top: 0;left: 0;width: 100%; height: 100%;background-size: cover; background-position: center; opacity: .2;}
.footer-item { position: relative; margin-bottom: 50px;}
.title1 {font-size: 25px; color: #0d233e;}
.margin-bottom-20px { margin-bottom: 10px;}
.pb-3, .py-3 { padding-bottom: 1rem !important;}
.list-items li a:hover { color: #A90100;}
.footer-area ul li a { font-size: 15px;}
.list-items li a { color: #5d646d; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
a:focus, a:hover { text-decoration: none;}
.footer-area ul li { padding: 5px 0px;}
.list-items li { color: #5d646d;}

.curve-shape { position: relative;display: inline-block;}
.curve-shape::before {position: absolute; left: 0; bottom: 0; content: attr(data-text); color: transparent;
    text-decoration-style: wavy; text-decoration-color: #A90100; text-decoration-line: underline;}
.footer-area .container {max-width: 1140px;}
.list--items a { position: relative;display: inline-block;}
.list--items a::before {position: absolute;content: "";bottom: 1px;left: 0;width: 100%;height: 2px; background-color: #A90100;-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;transition: all .3s;}
.copyrights { padding: 12px 0px 0px;background-color: #A52B46;}
.text-center { text-align: center !important;}
h3.text-center {font-weight: 500;color: #A52B46;}
.form-box {
    border: 1px solid rgba(128, 137, 150, .1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, .1);
    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, .1);
    box-shadow: 0 0 40px rgba(82, 85, 90, .1);
}
.cont{margin-top: 10px !important;}
.form-title-wrap { padding: 20px; border-bottom: 1px solid rgba(128, 137, 150, .1);}
.title { font-size: 25px;color: #0d233e;}
.form-content { padding: 20px;}
.contact-address li {position: relative; padding-left: 60px; padding-bottom: 5px; margin-bottom: 5px;border-bottom: 1px solid rgba(128, 137, 150, .1);}
.list-items li { color: #5d646d;}
.contact-address li > .icon-element { position: absolute; left: 10px; top: 5px; width: 35px; height: 35px;line-height: 35px; font-size: 18px;}
.icon-element { display: block; width: 35px; height: 35px; line-height: 50px; text-align: center; margin-left: auto; margin-right: auto; background-color: #A90100; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; position: relative; font-size: 25px; color: #fff;}
.font-size-16 { font-size: 16px !important;}
.social-profile i.fa{padding: 12px}
.social-profile li { display: inline-block; margin-right: 3px;}
.social-profile li a { display: block; color: #0d233e; width: 38px; height: 38px; line-height: 38px;
    text-align: center; background-color: rgba(128, 137, 150, .1); -webkit-transition: all .3s;
    -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}

.fleets-page h3{display: block; width: 100%; padding: 0px !important;}
.mobileview {display: none;}
.desktop{display: block;}
.footerone{display: none;}
.innercar{padding: 15px 0px;}
.sidebar .widget-area.widget_border .widget:not(.widget-contact) { margin-bottom: 35px; background-color: #fff; padding: 10px 20px 25px; border: 1px solid #efecec;}
.sidebar .widget-area .widget { position: relative; overflow: hidden; margin-bottom: 35px;}
.widget-nav-menu h5 {font-size: 16px;    text-align: center;    color: #A52B46;}
.sidebar.ttm-sidebar-right .content-area { padding-right: 15px; border-right: 1px solid #efefef;}
.btn-info{background-color: #a52b46;border: 1px solid #a52b46; font-weight: 600;padding: 10px 20px}
.btn-info:hover{background-color: #a52b46;border: 1px solid #a52b46}
.sidebar .content-area, .sidebar .widget-area { padding-top: 10px;padding-bottom: 10px;}
.sidebar .content-area { flex: 70.5%; max-width: 70.5%;}
.sidebar .sidebar-left, .sidebar .sidebar-right { flex: 28.914%;max-width: 28.914%;}

.highlight-top h5{font-size:20px; font-weight: 600;}
.highlight-top h5{font-size:18px; font-weight: 600;}
.highlight-top p{font-size: 16px; text-align: justify;padding-bottom: 15px;}

.new-veh-img{padding: 5px 5px 5px;margin-right: 8px;background-color: #fff}
.new-veh-text{padding: 10px 5px 0px;}
.backbut{display: none;}
.card-body { -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 10px;}
.table-bordered td { border: 1px solid #a52b46;}
.table { width: 100%; margin-bottom: 0rem; color: #212529;}

[data-toggle=collapse] i:before {content: "-";}
[data-toggle=collapse].collapsed i:before { content: "+";}


#accordion .accordion-title { position: relative;display: block;padding: 8px 0 8px 50px;background: #A52B46;border-radius: 4px; overflow: hidden; text-decoration: none;color: #fff;font-size: 16px;width: 100%;text-align: center; transition: all 0.4s ease-in-out;}
#accordion .accordion-title i {position: absolute; width: 50px;height: 100%; right: 0; top: 0; color: #fff; background: radial-gradient(rgba(33, 55, 68, 0.8), #213744);text-align: center; border-right: 1px solid transparent;}
#accordion .accordion-title:hover { padding-left: 60px; background: #213744; color: #fff;}
#accordion .accordion-title:hover i { border-right: 1px solid #fff;}
#accordion .accordion-body { padding: 5px 15px;}
#accordion .accordion-body ul { list-style: none; margin-left: 0; padding-left: 0;}
#accordion .accordion-body li {padding-left: 0px;}
#accordion .accordion-body li:before { content: ""; padding-right: 5px; font-family: "Flaticon"; font-size: 16px; font-style: normal; color: #213744;}

.featured-icon-box { position: relative; margin: 1px 0}
.featured-icon-box .ttm-icon { margin-bottom: 0}
.featured-title h5 { font-size: 16px; line-height: 15px; margin-bottom: 0px; font-weight: 500; text-transform: capitalize}
.featured-icon-box.icon-align-before-content .featured-content,
.featured-icon-box.icon-align-before-content .featured-icon,
.featured-icon-box.icon-align-before-title .featured-icon,
.featured-icon-box.icon-align-before-title .featured-title {display: table-cell;vertical-align: middle}
.featured-icon-box.icon-align-before-content .featured-icon i {display: inline-block;vertical-align: middle;height: 35px;padding: 9px;}
.featured-icon-box.icon-align-before-content.icon-ver_align-top .featured-icon {vertical-align: top;    padding-top: 3px}
.featured-icon-box.icon-align-before-content .featured-content,
.featured-icon-box.icon-align-before-title .featured-title { padding-left: 15px}
.featured-icon-box.icon-align-before-title .featured-content { margin-top: 20px}
.featured-icon-box.icon-align-top-content .featured-content { padding-top: 5px}
.featured-icon-box.icon-align-before-content.style7 .ttm-icon {height: 34px;width: 34px;line-height:34px;}
.featured-icon a{text-align: center;}
.footer {display: none;}
.desktop{display: none;}
.hero-wrapper{background-color: #475f7a;padding: 10px;border-radius: 6px;}

.contact-form-action .form-control {
    height: auto;
    line-height: inherit;
    padding: 10px 20px 10px 40px;
    font-size: 15px;
    color: #0d233e;
    border-color: rgba(128, 137, 150, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
}


.label-text {
    font-size: 14px;
    color: #fff !important;
    text-align: left !important;
    font-weight: 600;
}

.input-box {
    text-align: left !important;
}

.localrip{padding: 0px 10px}
.contact-form-action .form-group {
    position: relative;
}
.contact-form-action .form-group .form-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #5d646d;
    font-size: 18px;
}
.contact-form-action .form-group .search-btn,
.contact-form-action .form-group .submit-btn {
    position: absolute;
    top: 7px;
    right: 8px;
}
.contact-form-action .form-group .search-btn {
    background-color: transparent;
    border: none;
    padding: 3px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #0d233e;
}
.contact-form-action .form-group .search-btn:hover { color: #287dfa;}
.contact-form-action .form-control {height: auto; line-height: inherit;padding: 9px 10px 9px 35px; font-size: 13px;color: #0d233e;border-color: rgba(128, 137, 150, 0.2); -webkit-box-shadow: none; -moz-box-shadow: none;  box-shadow: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; background-color: #fff;}
.contact-form-action .form-control:focus { border-color: #287dfa;}
.contact-form-action .message-control { height: 90px;}
.align-items-center button{border: none;}
.hero-image .theme-btn { font-size: 12px; padding: 10px 10px; background: linear-gradient(135deg,#FFAC3C 0%,#FFAC3C 100%); color: #000; margin-top: 6px; border-radius: 3px;font-weight: 600; letter-spacing: 1px;}
.hero-small-car1 .theme-btn { font-size: 12px; padding: 10px 10px; background: linear-gradient(135deg,#FFAC3C 0%,#FFAC3C 100%); color: #000; margin-top: 6px; border-radius: 3px;font-weight: 600; letter-spacing: 1px;}


.mobilebanner1 h1{text-align: center;margin: 100px 0px}
.theme-btn {font-size: 14px; padding: 5px 30px;background-color: #A52B46; color: #fff; margin-top: 6px;border-radius: 4px; border: none !important; letter-spacing: 0px; font-weight: 600;}
.list-text .fa{color: #A52B46;}
.callbutton {display: none !important}
.fixme1 {display: none !important;}
.navbar {padding: 5px !important}
.social{display: none;}
.hero-wrapper .input-box label{color: #fff;}
.bg-dark {background-color: transparent !important;} 
.fixed-top { position: absolute;}

.feedback{padding: 10px 0px;}
.feedback-img{margin: 0px auto;width: 100%;}
.feedback .carousel blockquote p{font-size: 20px; color: #000;}
.feedback-content{padding-top: 30px;}
.feedback-content h3{color: #A42B46;}
.blockquote-footer{margin-top: 20px; font-size: 20px;color: #A42B46;}
.p-4 {padding: 0px 20px !important;}
.carousel-indicators{margin-top: 20px !important;}
.client-review-stars i{color: #A42B46;}

.box-shadow {box-shadow: 0 0 9px 0 rgba(29,33,67,.1);}
.ttm-bgcolor-white .review {margin: 10px;}
.review {padding: 15px; box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;border-radius: 6px;}
.review h3 {font-size: 16px; margin: 0px;}
.review h4 { font-size: 16px; margin: 0px;}
.review h1 { font-size: 60px; line-height: 72px;}
.feed label{text-align: left !important;}
.fleetspage .theme-btn {font-size: 14px;padding: 5px 12px;background-color: #A52B46;color: #fff;margin-top: 6px;border-radius: 3px; letter-spacing: 0px;}
.fleet-desktop{display: block;}
.fleet-mobile{display: none;}
.car-details{ padding: 5px 0px !important;margin-top: 20px;}
.car-details .bookingdetails h4{color: #fff; font-size: 14px;padding: 0px 0px 0px;}
.car-details .bookingdetails h2{color: #fff; font-size: 24px;padding: 0px;}
.car-details h3{margin-bottom: 15px}
.car-details .container-fluid{padding: 0px 45px;}
.section-larger .container-fluid{padding: 0px 45px;}
.modify{background-color: #fff; font-size: 16px; font-weight: 600; color:#A42B46; letter-spacing: 1px;padding: 10px 15px !important;}
.form-title-wrap h3{padding-bottom: 0px;}
span {cursor:pointer; }
.minus, .plus{ width: 34px;height: 34px;background: #f2f2f2;border-radius: 4px;padding: 3px 5px 2px 5px;border: 1px solid #ddd;display: inline-block;vertical-align: middle;text-align: center;font-size: 18px;  }
.number input{ height:34px; width: 62px !important; text-align: center; font-size: 14px; border:1px solid #ddd;border-radius:4px;display: inline-block; vertical-align: middle;}
.rightside{padding-right: 5px !important;}
.leftside{padding-left: 5px !important;}
.bothside{padding: 0px 5px !important;}
.car-details h2{font-size: 20px; color: #fff;}



.login-popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1099; background-color: rgba(0, 0, 0, .6); visibility: hidden; opacity: 0; transition: all 1s ease;}
.login-popup .form-group{margin-bottom: 10px !important}
.login-popup.show { visibility: visible; opacity: 1}
.login-popup .box { background-color: #fff;width: 450px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);display: flex; flex-wrap: wrap; opacity: 0; margin-left: 50px; transition: all 1s ease; padding: 20px; border: 10px solid #a52b46}
.login-popup.show .box { opacity: 1; margin-left: 0}
.login-popup .box .img-area {flex: 0 0 40%; max-width: 100%; position: relative; overflow: hidden; padding: 0;display: flex;align-items: center; justify-content: center}
.login-popup .box .img-area h1 { font-size: 30px}
.login-popup .box .img-area .img { position: absolute;left: 0;top: 0;width: 100%; height: 100%;background-image: url(img/bg.jpg);background-size: cover;background-position: center;animation: zoomInOut 7s linear infinite;z-index: -1}

@keyframes zoomInOut {
    0%,
    100% {transform: scale(1)}
    50% {transform: scale(1.1)}
}

.login-popup .box .form { flex: 0 0 100%; max-width: 100%; padding: 15px 10px}
.login-popup .box .form h1 { color: #000; font-size: 30px; margin: 0 0 30px}
.login-popup .box .form .form-control { height: 45px; margin-bottom: 0px; width: 100%;border: none; border-bottom: 1px solid #ccc; font-size: 15px;color: #000}
.login-popup .box .form .form-control:focus { outline: 0}
.login-popup .box .form label { font-size: 15px; color: #555}
.login-popup .box .form .btn {width: 100%;background-color: #e91e63;height: 45px;border: none;border-radius: 25px;font-size: 15px;text-transform: uppercase;color: #fff;cursor: pointer}
.login-popup .box .form .btn:focus { outline: 0}
.login-popup .box .form .close { position: absolute; right: 10px; top: 0; font-size: 30px; cursor: pointer}
@media(max-width:767px) 
{
    .login-popup .box {width: calc(100% - 30px)}
    .login-popup .box .img-area {display: none}
    .login-popup .box .form {flex: 0 0 100%;max-width: 100%}
    .feedback .carousel blockquote p {font-size: 16px;color: #000;text-align: center;}
}

.submit::before {background-image: linear-gradient(to right,#fe5603 0,#ff7f00 50%,#fe5603 100%);background-size: 200% auto;}
.copy__desc a{font-size: 12px;}
.copy__desc a:hover{color: #fff;}
.btn-block {display: block;width: 80%;margin: 0px auto;}
.location{padding: 20px 0px;}
.item-1 .col-lg-12{padding: 0px !important;}
.car-details table thead tr th{border: 1px solid #A52B46;text-align: center; color: #A52B46; font-size: 11px; padding: 5px 0px; font-weight: 500 !important;}
.car-details table tbody tr td{text-align: center; color: #000; font-size: 11px; padding: 5px 0px;}
.car-details table tbody tr td:first-child{text-align: center; color: #000; font-size: 11px; padding: 5px 0px;}
.address-book table thead tr th{border: 1px solid #A52B46;text-align: center; color: #A52B46; font-size: 16px; padding: 8px 0px;}
.homeget{padding-top: 0px !important; margin-top: 0px;margin-bottom: 30px}
.section-larger h3 span{background-color: #a52b46; color: #fff; padding: 2px 10px;}
.inner{padding: 12px 0px 15px !important;background-color: #037ac9;}

.login-popup input[type="text"], select, textarea {
  font-family: inherit;
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: middle;
  width: 100%;
  color: #000;
  padding: 12px 15px 11px;
  border-radius: 0;
  font-weight: 400;
  background-color: #f4f7fb;
  text-transform: inherit;
  border: 1px solid #ebebeb;
  font-size: 14px;
  outline: 0;
  line-height: inherit;
  letter-spacing: 0;
}

.submit{background-color: #a52b46; padding: 5px 0px; border: none !important; color: #fff;}

.thankyou h1 { font-size: 30px; margin-bottom: 0; line-height: 35px}
.thankyou p { font-family: Montserrat, sans-serif}
body.orange { background-color: #A52B46}
.thankyou { padding: 20px 0}
.thankyou img { width: 150px; height: 150px}
.thankyou h3{font-size: 20px; color: #fff}
.thankyou h1 { color: #fff}
.thankyou p { font-size: 14px; color: #fff}
.thankyou .featured-icon-box.icon-align-before-content.style7 {  border-radius: 5px}
.back { padding: 17px; background-color: #fff; display: none}
.back a h5 { margin-bottom: 0;font-size: 18px;color: #ff7801}
.back a h5 i {margin-right: 15px;color: #ff7801}
.homepage h6{color: #fff;}
.pass{width: 100px !important;}
.featured-icon-box.icon-align-top-content.style5 {padding: 10px;background-color: #fff;}
.featured-icon-box.icon-align-top-content.style5 {padding: 5px;  background-color: #fff;border-radius: 6px;}
.whyus .col-lg-8{padding-right: 20px !important;padding-left: 20px !important;}
.whyus .col-12{padding-right: 10px !important;padding-left: 10px !important;}
.featured-icon-box {position: relative;margin: 5px 0;}
.featured-icon-box {box-shadow: rgba(0, 0, 0, .16) 0 10px 36px 0, rgba(0, 0, 0, .06) 0 0 0 1px; padding: 15px;}
.ttm-icon.ttm-icon_element-onlytxt {height: auto;width: auto;line-height: 1;}
.featured-icon-box.icon-align-top-content.style5 .ttm-icon i {margin-bottom: 5px;}
.box-shadow {box-shadow: 0 0 9px 0 rgba(29,33,67,.1);}
.ttm-bgcolor-white { background-color: #fff; padding: 10px; border-radius: 6px;}
.ttm-bgcolor-white .review {margin: 2px;padding: 5px 10px;}
.review {padding: 15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;order-radius: 6px;}
.review h1{padding-bottom: 0px !important;}
.ttm-bgcolor-white .review h3 {line-height: 24px;font-size: 16px;}
.ttm-bgcolor-white .review h4 {line-height: 24px;font-size: 16px;}
.ttm-bgcolor-white .review h1 {line-height: 34px;font-size: 28px; margin-bottom: 5px; padding-top: 0px;}
.stars1 {position: relative;}
.ttm-bgcolor-white .review fieldset label {font-size: 26px;width: 26px; height: 26px;}
.stars1 label:not(.reset) { display: inline-block; float: left;position: relative; width: 40px; height: 40px;font-size: 40px; padding: 2px; cursor: pointer; color: #A52B46; transition: color .1s ease-out; z-index: 10;}
.ttm-bgcolor-white .review p { margin-bottom: 0px;padding: 5px;}
.ttm-bgcolor-white .review a{font-size: 14px; color:#A52B46;}
.review1 .star a i {font-size: 130px;color: #be2620;text-align: center;}
.review1 {text-align: center;}

.nav-tabs {border-bottom: 0px solid #dee2e6 !important;}
.whyus img{width: 86px;}
.card hr{margin: 5px 0px;}
.featured-desc{font-size: 14px;}
.desktop-location{padding: 20px 0px}
.branches{display: none;}
.footer-area .col-lg-2{ padding-left: 8px; padding-right: 8px;}
.footerone {display: none !important;}
.dates {display: hide}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {animation: 4.5s fadeInUp;}
.nav-masterContainer {position: fixed;bottom: 0;left: 0;width: 100%;z-index: 999;display: none;}
.nav-wrapper { margin: 0px auto; background: #FDFFFC; box-shadow:  0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14),0 1px 3px 0 rgba(0, 0, 0, .12);}
.nav-wrapper .active-grid-circle {display: grid;width: 100%;}
.nav-wrapper .nav-circle { width: 50px; height: 4px; border-radius: 100px; background: #A42B46; position: relative; margin-bottom: -4.2rem; margin-left: auto; margin-right: auto; margin-top: auto; bottom: 110px; left: 200%; display: none;justify-content: center; align-items: center; transition: 0.355s cubic-bezier(0.46, 0.03, 0.52, 0.96);}
.nav-grid {width: 100%;padding: 0;margin: 0;display: grid;grid-template-columns: 20% 20% 20% 20% 20%;}
.nav-grid .nav-grid-items {padding: 10px 10px;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.nav-grid .nav-grid-items .icon {color: #000; font-size: 25px;}
.nav-grid .nav-grid-items.active .icon {color: #a52b46;}
.red { color: #A52B46; }
.grid-item-active { display: flex !important; align-items: center; justify-content: center; -webkit-animation: zoomIn .255s cubic-bezier(0.46, 0.03, 0.21, 0.93);animation: zoomIn .255s cubic-bezier(0.46, 0.03, 0.21, 0.93);}

.nav-masterContainer.theme-dark .nav-wrapper {background: #313131;}
.nav-masterContainer.theme-dark .nav-grid .nav-grid-items .icon { color: #eee;}
.nav-masterContainer.theme-dark .nav-grid .nav-grid-items.active .icon { color: #A52B46;}


@-webkit-keyframes zoomIn {
 from {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
 }

 50% {
  opacity: 1;
 }
}

@keyframes zoomIn {
 from {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
 }

 50% {
  opacity: 1;
 }
}

.zoomIn {
 -webkit-animation-name: zoomIn;
 animation-name: zoomIn;
}

@keyframes moveActive {
 0% {
  width: .6rem;
 }

 20% {
  width: 2.8rem;
 }

 100% {
  width: .6rem;
 }
}


.wrapper { max-width: 800px; margin: auto; background-color:#D8E7ED;}
.tab-wrapper { text-align: center; display: block; margin: auto; max-width: 500px;}
.tabs { margin: 0; padding: 0; display: flex; justify-content: center;}
.tab-link { list-style: none;padding: 7px 38px;color: #140e0e;cursor: pointer;font-weight: 600;transition: all ease 0.5s;border-bottom: solid 3px rgba(255, 255, 255, 0);letter-spacing: 1px;display: inline-flex;border: 1px solid #D8E7ED;font-size: 14px;margin-top: 14px;}
.tab-link:hover { color: #345c19; border-color: #cc1f59; background-color:#cc1f59;}
.tab-link.active {  color: #140e0e;  border-color: #75C1EB;  background-color: #75C1EB;}
.content-wrapper { padding: 10px 10px;}
.sam{margin-top: 0px !important}
.tab-content { display: none; text-align: center; color: #888; font-weight: 300; font-size: 15px; opacity: 0; transform: translateY(15px); animation: fadeIn 0.5s ease 1 forwards;}
.tab-content.active {display: block;}
@keyframes fadeIn { 100% {  opacity: 1; transform: none; }}
.cabss{display: none;}

.container .gallery a img { float: left;width: 25%;height: auto;border: 2px solid #fff;-webkit-transition: -webkit-transform .15s ease;-moz-transition: -moz-transform .15s ease;-o-transition: -o-transform .15s ease; -ms-transition: -ms-transform .15s ease;transition: transform .15s ease;position: relative;}
.clear {clear: both;}
.big img{width: 100% !important;}

.maharaja-tt{padding-top: 15px}
.maharaja-tt .container-fluid{max-width: 1300px; padding: 0px}
.maharaja-tt .gallery{background-color: #fff;padding: 10px 0px; border-radius: 5px; margin-bottom: 5px}
.maharaja-tt .col-lg-6{padding: 0px 15px !important}
.maharaja-tt .gallery .row{margin: 0px}
.maharaja-tt .video-gall{background-color: #fff;padding: 5px; border-radius: 5px}
.maharaja-tt .video-gall video{width: 100%; height: 285px}

.specificationd{padding-top: 5px}
.specificationd .container-fluid{max-width: 1300px; padding: 0px 0px}
.spec .rwquest{background-color: #fff;padding: 15px 10px; border-radius: 5px}
.spec .rwquest h5{font-size: 15px; padding-bottom:10px; font-weight:600;text-align:center; }
.spec .rwquest .col-md-6{padding: 0px 15px}
.spec .rwquest .form-group{padding-bottom: 10px}
.spec .rwquest .form-control{border: 1px solid #f4f4f4; border-radius: 0px; padding-bottom: 10px; background-color: #fcfbf7}
.specificationd .col-lg-6{padding: 0px 15px !important}

.specde .row{margin-right: 5px;margin-left: 5px;}
.spec .specde{padding-top: 5px; padding-bottom:10px;background-color: #fff; border-radius: 5px}
.spec .container-fluid{max-width: 1300px; padding: 0px 0px}
.spec h3{text-align: left; font-size: 20px; font-weight: 600; margin-bottom: 10px} 
.spec-details img{width: 65%;text-align: center;margin: 0px auto;display: inherit;}
.spec-details h6{font-size: 16px; text-align: center;}
.spec .gallery a{text-align: center;}
.spec .specification h3{font-size: 20px; padding:0px 10px; font-weight: 600}
.spec .specification p{text-align: justify;padding-bottom: 10px}


.white{background-color: #fff;}
.featured-icon-box.icon-align-before-content.style7 { padding: 10px 12px !important; border-radius: 7px; background-color: #fff;}
.ttm-icon{background-color: #fff; color: #fff; border-radius: 5px}
.homepage a span{background-color: #fff;width: 70px;height: 70px;padding: 10px;font-size: 16px; display: inline-block;border-radius: 5px}
.homepage a span i{font-size: 20px}
.success{background-color: #A52B46;padding: 15px; border-radius: 8px}
.success h3{color: #fff !important; font-weight: 600;margin-bottom: 15px}
.success img{margin-bottom: 15px}
.success p{color: #fff !important; font-size: 16px !important; line-height: 24px;margin-bottom: 15px}
.input-box .label-text{color:#a52b46 !important;}
.hero-image .label-text{color:#fff !important;}
.responsive-column{margin-bottom: 4px}
.responsive-column .form-control{line-height: 25px}
.responsive-column  select#fleets{height: 45px !important}
.responsive-column  select#travel{height: 45px !important}
.section-large{margin-top: 60px}
.spec{padding: 15px 0px}
.specificationdetails{background-color: #fff; padding: 15px; border-radius: 7px}
.specificationdetails p{}
.forms .tab-link img{width: 25px}

.mobile-fleets a{font-weight: 600}
.blogdetails h1{font-size: 24px; text-align: center; font-weight: 600}
.spec h2{font-size: 20px; font-weight: 600;padding-bottom: 15px}


.spec1 .specificationdetails1 .specification1 h2{text-align: center; font-size: 28px; margin-bottom: 10px;}
.spec1 .specificationdetails1 .specification1 p{text-align: justify; padding-bottom: 10px}

.bottom-footer-text{padding: 5px 0px 5px !important;background-color: #2b9da5;}
.bottom-footer-text .container-fluid{max-width: 1270px}
.bottom-footer-text .copyright p{color: #fff;padding: 5px 0px;}
ul.social-icons{margin:0;padding:0}
.social-icons li{display:inline-block;border:none;z-index:1;position:relative}
.social-icons li{margin:0 2px}
.social-icons li:last-child{margin-right:0}
.social-icons li a{display:block;min-width:26px;text-align:center}
.social-icons.circle li>a{padding:9px;border-width:1px;border-style:solid;height:33px;width:33px;line-height:33px;text-align:center;display:block;background-color:#fff;font-size:13px;border-radius:50%}
.bottom-footer-text .footer-nav-menu li{display: inline-block;padding: 5px 0px}
.bottom-footer-text .footer-nav-menu li a{color: #fff; padding: 5px 10px}


.icon-cntr img{width: 200px}
.hero-small-car h1{font-size:26px;}

